adium-theme-ubuntu==0.3.4
argumentparser==1.2.1
asn1crypto==0.24.0
async-timeout==2.0.0
attrs==18.1.0
Automat==0.6.0
backports.shutil-get-terminal-size==1.0.0
beautifulsoup4==4.6.0
certifi==2018.4.16
cffi==1.11.5
chardet==3.0.4
click==6.7
constantly==15.1.0
coreapi==2.3.3
coreapi-cli==1.0.9
coreschema==0.0.4
cryptography==2.2.2
Cython==0.27.3
decorator==4.3.0
dj-database-url==0.5.0
dj-static==0.0.6
Django==1.11.10
django-heroku==0.3.1
django-toolbelt==0.0.1
djangorestframework==3.7.7
ecdsa==0.11
enum34==1.1.6
ez-setup==0.9
functools32==3.2.3.post2
gunicorn==19.7.1
html5lib==1.0.1
httpie==0.9.9
hyperlink==18.0.0
idna==2.6
imageio==2.3.0
incremental==17.5.0
ipaddress==1.0.22
ipython-genutils==0.2.0
itypes==1.1.0
Jinja2==2.10
json-encoder==0.4.4
jsonschema==2.6.0
jupyter-core==4.4.0
lxml==4.2.1
Mako==1.0.7
MarkupSafe==1.0
moviepy==0.2.3.4
nbformat==4.4.0
ndg-httpsclient==0.4.0
numpy==1.14.3
packaging==17.1
paramiko==1.16.0
pathlib==1.0.1
pbr==3.1.1
pew==1.1.2
Pillow==5.1.0
pip-review==1.0
pipenv==11.0.2
plotly==2.4.1
psycopg2==2.7.4
psycopg2-binary==2.7.4
pyasn1==0.4.2
pyasn1-modules==0.2.1
pycairo==1.17.0
pycparser==2.18
pycrypto==2.6.1
pygerrit==1.0.0
pygerrit2==2.0.4
Pygments==2.2.0
pygobject==3.20.0
pygpgme==0.3
pyOpenSSL==18.0.0
pyparsing==2.2.0
pystan==2.17.1.0
python-apt==1.1.0b1+ubuntu0.16.4.1
python-status==1.0.1
pytz==2018.3
PyYAML==3.11
readline==6.2.4.1
requests==2.18.4
service-identity==17.0.0
shutilwhich==1.1.0
singledispatch==3.4.0.3
six==1.11.0
sqlparse==0.1.18
static3==0.7.0
tqdm==4.23.3
traitlets==4.3.2
Twisted==17.9.0
unity-lens-photos==1.0
uritemplate==3.0.0
urllib3==1.22
validators==0.12.1
vboxapi==1.0
virtualenv==16.0.0
virtualenv-clone==0.3.0
webencodings==0.5.1
whitenoise==3.3.1
wxPython==3.0.2.0
wxPython-common==3.0.2.0
zope.interface==4.4.3
